/* Szkoła */
h4 {
  font: bold 15px sans; color:#337BA6;
  padding: 7px 0 2px 8px;  }

.shortnews{
	width:670px; float: right; padding: 0 21px 0 0;}
.shortnews h2 {
	font:bold  20px/25px Arial, Helvetica, sans-serif; color:#337BA6;
	background-color:#FFFFFF; height:25px;  padding:0 0 12px 0;}
.shortnews h2 span{
	margin: auto;
	font:bold 25px/28px  Arial, Helvetica, sans-serif; color:#F50B04;
	background-color:#FFFFFF;  padding:0 0 2px 0;}
.shortnews span.dot{
	background:url(images/dot_line.gif) repeat-x 0 18px #FFFFFF;
	height:25px; width:90px; display:block; float:left; color:#000000;}
.shortnews ul{	
	padding:7px 0 0 16px; }
.shortnews ul li a{
	font:bold 11px/19px Arial, Helvetica, sans-serif; color:#535353;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow_bullet.gif) no-repeat 0 6px #FFFFFF;}
.shortnews ul li a:hover{
	font:bold 11px/19px Arial, Helvetica, sans-serif; color:#535353;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow_bullet.gif) no-repeat 0 6px #BFDEF7;}
.shortnews p.dotLine{
   margin-top: 10px;
	color:#363636; font-size:0; line-height:0; height:13px; padding: 3px 0 12px 0;
	background:url(images/dot_line.gif) repeat-x 0 2px #FFFFFF;}
.shortnews p.dotLine a.viewMore {
	width: 670px; float: right; padding: 0 0 0 0;
	background:url(images/read_more.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	font-size:0; line-height:0; text-decoration:none; text-indent:-2000px;
	width:116px; height:23px; display:block;}
.shortnews p.dotLine a.viewMore:hover {
	background:url(images/read_more_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	font-size:0; line-height:0; text-decoration:none; text-indent:-2000px;
	width:116px; height:23px; display:block; float:right;}
/* -- info o poście */
.info {
   font-style: italic; padding: 0 0 5px 0; }	

/* -- strona stała -- */
.page {
	width:670px; float: right; padding: 0 21px 0 0;}
.page h2 {
	font:bold  20px/25px Arial, Helvetica, sans-serif; color:#337BA6;
	background-color:#FFFFFF; padding:0 0 12px 0;}
.page h2 span {
	margin: auto;
	font:bold 25px/28px  Arial, Helvetica, sans-serif; color:#F50B04;
	background-color:#FFFFFF;  padding:0 0 2px 0;}
.page span.dot{5
	background:url(images/dot_line.gif) repeat-x 0 18px #FFFFFF;
	height:25px; width:90px; display:block; float:left; color:#000000;}
.page ul{	
	padding:7px 0 0 16px; }
.page ul li a{
	font:bold 11px/19px Arial, Helvetica, sans-serif; color:#535353;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow_bullet.gif) no-repeat 0 6px #FFFFFF;}
.page ul li a:hover{
	font:bold 11px/19px Arial, Helvetica, sans-serif; color:#535353;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow_bullet.gif) no-repeat 0 6px #BFDEF7;}
	
	