/* CSS Document */
/* Web Industry */

body{
	background:url(images/bg.png) repeat-x 0 0 #ffffff; color:#363636;
	font: normal 12px/18px Arial sans-serif;
	margin:0; padding:0;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}


/* -- header start -- */
#header{
	position:relative; margin:0 auto; width:950px; height:80px;
	background:url(images/logo_zkpig26.png) no-repeat 0 0 #337BA6; color:#000000;}
	
#header img{
	position:absolute; left:150px; top:30px; border:none;}
	
/* -- header end -- */

/* -- top navigation start -- */
#topNav{
	width:950px; height:30px; margin:0 auto;
	background:url(images/top_nav_bg.gif) no-repeat 0 0 #FFFFFF; color:#000000;}
#topNav ul{
	width:750px; margin:0 auto; }
#topNav ul li{
	float:left; margin:0 1px 0 0 ;}
#topNav ul li a{
	font:bold 12px/29px Arial, Helvetica, sans-serif; color:#595959;
	background:url(images/top_nav_btn_bg.gif) repeat-x 0 0 #FFFFFF;
	padding:0 12px; display:block; text-decoration:none;}
#topNav ul li a:hover{
	font:bold 12px/27px Arial, Helvetica, sans-serif; color:#337BA6;
	background-color:#FFFFFF; background-image:none;
	border-top:#DADADA 1px solid; border-right:#DADADA 1px solid; border-left:#DADADA 1px solid;
	padding:0 11px; margin:2px 0 0 0; display:block; text-decoration:none;}
#topNav ul li span {
	font:bold 12px/27px Arial, Helvetica, sans-serif; color:#F50B04;
	background-color:#FFFFFF; background-image:none;
	border-top:#DADADA 1px solid; border-right:#DADADA 1px solid; border-left:#DADADA 1px solid;
	padding:0 11px; margin:2px 0 0 0; display:block; text-decoration:none;}
/* -- top navigation end -- */

/* body start */
#body{
	width:950px; margin:0 auto; padding:10px 0 0 0;
	background-color: #ffffff;}
/* body end */
/* -- left pannel start poza kontaktem i galerią to samo-- */
.menuside {
	width:230px; float:left; padding: 2px 2px 2px 2px;}
.menuside hr {
	 margin-right: 20px; }

.menuside ul{	
	padding:7px 0 0 16px;}
.menuside ul li a{
	font:bold  13px/19px Arial, Helvetica, sans-serif; color:#535353;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow.gif) no-repeat 0 4px #FFFFFF;}
.menuside ul li a:hover{
	font:bold 13px/19px Arial, Helvetica, sans-serif; color:#434343;
	padding:0 0 0 12px; display:block; text-decoration:none;
	background:url(images/red_arrow_bullet.gif) no-repeat 0 4px #BFDEF7;}
.menuside h2 span{
	margin:10px 10px 10px 10px; 
	font:bold 20px/25px  Arial, Helvetica, sans-serif; color:#F50B04;
	background-color:#FFFFFF; height:125px; }
.menuside ul li a span {
	font-style: italic; color:#337BA6; }
.menuside ul li  span {
	font-style: bold ; color: navy; padding-left: 10px; font-size: 120%;}



/* -- left pannel end -- */

/* -- right pannel start -- */



/* footer start -- */
#footer{  
	background:url(images/footer_bg.gif) repeat-x center top #0E4472; color:#000000;}
.footer { 
	width:490px; height:80px; margin:0 auto; padding:12px 0 0 0;}
.footer ul{
	width:445px; margin:0 auto;}
.footer ul li{
	font:bold 11px/20px "Trebuchet MS&quot", Arial, Helvetica, sans-serif;
	color:#FFFFFF; background-color:#0E4472; float:left;}
.footer ul li a{
	font:bold 11px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FFFFFF; background-color:#0E4472; padding:0 8px;}
.footer ul li a:hover{
	font:bold 11px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FFFFFF; background-color:#11558C; padding:0 8px;}
.footer p{ text-align:center;
	margin:0 auto; width:450px; color:#DBEDFB; background-color:#0E4472;
	font:normal 10px/18px Arial, Helvetica, sans-serif;}

.footer p.signature a{
	font:bold 12px/16px Arial, Helvetica, sans-serif; color:#FFFFFF;
	text-align:center; text-decoration:none;}
.footer p.signature a:hover{
	font:bold 12px/16px Arial, Helvetica, sans-serif; color:#FFFFFF; background-color:#11558C; text-align:center; text-decoration:none;}
/* footer end -- */
#loginfo { 

text-align: center;
	background:url(images/loginfo.png) no-repeat;
	width:215px; height:50px; padding:0px; border: none;}


#loginfo a, img {
	color: navy;
	border-style: none;
	border: none;
	padding: 0px;
	font: normal 16px/16px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#loginfo a:link { border-style: none;  border: none; } 

/* administracja stronami*/
.right {
	width:670px; float: right; padding: 0 21px 0 0;}
.right table {
	 border-spacing: 1px 1px; background-color: blue;}
.right td,th {
	padding: 2px 5px 2px 5px; background-color: #fff;}